
@{
	ViewData["Title"] = "Calculator";
}


<div>
	<input type="text"/>
	

	
	<div style="display:flex">
		<button>7</button>
		<button>8</button>
		<button>9</button>
	</div>

	<div style="display:flex">
		<button>4</button>
		<button>5</button>
		<button>6</button>
	</div>

	<div style="display:flex">
		<button>1</button>
		<button>2</button>
		<button>3</button>
	</div>

</div>