@{
    ViewData["Title"] = "Home page";
}

<div style="display: flex; flex-direction: column; margin:10px">
    <h1>Welcome to ScienceCalc</h1>

    <p>Here you can find info on different subjects</p>
</div>
