@{
    ViewData["Title"] = "Tools";
}


<ul>
    <li>
        <a asp-controller="Tools" asp-action="Calculator">Calculator</a>
    </li>
    <li>
        <a asp-controller="Tools" asp-action="Calculator">Equation Solver</a>
    </li>

</ul>